
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
mysite/mysite/__pycache__
mysite/__pycache__/*
polls/__pycache__/*
polls/tests/__pycache__/*
polls/migrations/*